:root {
  --light-clr: #fdfffc;
  --dark-clr: #13070c;
  --gray-clr: #888384;
  --dark-gray-clr: #343232;
  --accent-clr: #fca311;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  

}

h2{
  color: #fca311;
}

h3{
  color: #13070c;
}

h4, h5{
  color: #888384
}

button {

  background-color: #fca311 !important;
  border-color: #b36f10 !important;
  color: white  !important;
}
  


img {
  height: 150px;
  width: 150px;
}

.nav-items {
  display: flex !important;
}

i {
  width: 24px;
  height: 24px;
}

/* Current Weather Styles */
.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-weather-header {
  display: flex;
  align-items: center;
}

.weather-description {
  text-transform: capitalize;
}

.weather-left {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  /* margin: 0.5rem; */
  /* padding: 0.5rem; */
  border-right: 2px solid #eee;
}

.weather-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.weather-icon-large {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.current-temp {
  font-size: 2rem;
  font-weight: 400;
}

.weather-right {
  display: grid;
  width: 60%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.weather-info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.75rem;
}

.weather-value {
  line-height: 1rem;
}

.value-unit {
  font-weight: lighter;
  font-size: 0.75rem;
}

/* Weather Forecast Section */
.forecast-section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  padding: 1rem;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem !important;
}

.forecast-day {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.attraction-section {
  margin-left: 1rem;
}

#city-name {
  text-transform: capitalize;
}